spring:
  application:
    name: jian-daoyun
  datasource:
    url: jdbc:mysql://localhost:3306/jiandaoyun?useSSL=false&serverTimezone=UTC
    username: root
    password: root
  data:
    mongodb:
      uri: mongodb://localhost:27017/jiandaoyun
    redis:
      host: localhost
      port: 6379
server:
  port: 8080
